* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

body {
  background: white;
  padding: 60px 0 0 0;
}

a {
  color: unset;
  text-decoration: none;
}

.section__padding {
  padding: 1rem 2rem;
}

.section__margin {
  margin: 1rem 2rem;
}

.section__margin-left {
  margin-left: 1rem;
}

.section__margin-bottom {
margin-bottom: 1rem;
}


@media screen and (max-width: 700px) {
  .section__padding {
    padding: 1rem;
  }

  .section__margin {
    margin: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 1rem 0.5rem;
  }

  .section__margin {
    margin: 1rem 0.5rem;
  }
}